@(title: String)(content: Html)

<!doctype html>
<html ng-app="beaconLight">
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>
<body>

<div class="container-narrow">
    <div class="container">
        <div class="page-header">
            <h1>@title</h1>
        </div>
        @content
    </div>
</div>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="@routes.Assets.at("javascript/canvasjs.js")"></script>

<script type="text/javascript">
function correctDates(data) {
    $.each(data.data, function(i, dataSet) {
       dataSet.dataPoints = $.map(dataSet.dataPoints, function(dataPoint, i) {
            return {
                x: new Date(dataPoint.x),
                y: dataPoint.y
            };
        });
    });
}
    
function renderChart(id, data) {
    correctDates(data);
    var chart = new CanvasJS.Chart(id, data);
    chart.render();
};

$(function () {
    $.get("@routes.Application.getChart").success(function(data) {
        renderChart("storyCount", data.storyCount);
        renderChart("storyPoints", data.storyPoints);
    });
});
</script>

</body>
</html>
